p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Ho usato direttamente p qui, eposition/padding sul framework solo perche in questo caso era possibile. A seconda della situazione poi si può andare nel dettaglio */
